.bg {
    background-image: url('/itbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 93vh;

}

.h1 {
    margin-top: -15px;
    font-size: 50px;
    text-decoration: underline;
}

.h1:hover {
    opacity: 0.5;
}

.container {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;


}

.box1 {
    padding-left: 20px;
    display: block;
    width: 400px;
    word-wrap: break-word;
    margin-bottom: -30px;
}


.imgg {
    position: absolute;
    right: 150px;
    top: 150px
}

.lcard {
    margin-top: 15px;
    margin-left: 40px;
    border-radius: 40px;
    opacity: 0.9;
    width: auto;
    min-width: 360px;
    width: 420px;
    height: auto;
    background: #f5f5f5;
    color: #272727;
    padding: 25px;
    box-shadow: 0px 7px 24px rgba(100, 100, 100, 0.4);

}

.lcard__text p {
    font-size: 20px;
    color: #3f3f55;
    text-align: left;
}

.lcard__text p::after {
    content: "\201D";
    display: inline;
    color: #999;
}

.lcard__text p::before {
    content: "\201C";
    display: inline;
    color: #999;
}

.p {
    background-image: linear-gradient(to right,
            #080909,
            #060506 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

}

.p:before {
    content: '';
    background: #00BFFF;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.p:hover {
    background-position: 0;
}

.p:hover::before {
    width: 100%;
}


.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
}

.card {
    opacity: 0.9;
    grid-area: 1 / 1;
    height: 100px;
    width: 250px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: #f3f3f3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0, 0, 0, .1);
}

.h5 {
    font-size: 60px;
    font-weight: 20;
}

.card .enclosed {

    background: #000;
    line-height: 1;
    color: #03e9f4;
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
}

.wrapper:before {

    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
}


.wrapper:hover>div,
.wrapper:hover:before {
    transform: none;
}


.wrapper>div,
.wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25, .46, .45, 1);
}



.html,
.body {
    height: 100%;
}

.body {
    display: grid;
    place-items: center;

}