.bg {

    font-family: 'Noto Sans Thai',
        sans-serif;
    background-image: url('/bgit.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 93vh;
    position: absolute;
    position: fixed;

}

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;

}


.h1 {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    border: 2px solid;
    padding: 5px;
    box-shadow: 6px 4px;
    border-radius: 20px;
    width: 180px;
    font-size: 80px;
    margin-top: 150px;
    margin-left: 660px;
    margin-bottom: 5px;
    color: black;
    transition: transform 0.8s ease;

}



.h3 {
    margin: 10px;
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.button {

    padding: 10px;
    text-decoration: none;
    background-color: #f3f3f3;
    opacity: 0.5;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@media only screen and (max-width: 768px) {

    /* Adjust styles for screens smaller than 768px */
    .h1 {
        font-size: 60px;
        margin-left: 0;
    }

    .h3 {
        font-size: 20px;
    }

    .button {
        padding: 8px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {

    /* Adjust styles for screens smaller than 480px */
    .h1 {
        font-size: 40px;
    }

    .h3 {
        font-size: 16px;
    }

    .button {
        padding: 6px;
        font-size: 12px;
    }
}